<div class="container">
  <h1>The Restaurants App</h1>
  <ul class='list-unstyled'>
    <% @restaurants.each do |r| %>
      <li><%= link_to r.name, r %> - <em><%= r.category.capitalize %></em></li>
    <% end %>
  </ul>

  <h2><%= link_to 'Add a new restaurant', new_restaurant_path, class:'btn btn-primary' %></h2>
</div>
